{% extends 'base.html' %} 
{% block title %}About Us{% endblock %}
{% block content %}
<div class="color5">
    <h1 class="bigtitle">About Us</h1>
</div>
<div  class="about p">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta magni iste voluptatem, optio repellendus voluptate porro, rem, tempora rerum perferendis numquam molestias odit necessitatibus nobis nemo ipsum. Voluptates voluptas eveniet repellat, aperiam repudiandae quasi est dicta similique quos placeat eaque aliquam nobis voluptatum. Sit fuga odit natus libero ex, reiciendis recusandae non soluta tempora expedita enim sunt quidem suscipit perspiciatis incidunt praesentium totam. Dicta saepe blanditiis eaque ducimus nam! Nesciunt accusamus et quod, iusto saepe necessitatibus? Commodi fugit maiores rem enim sed nemo numquam illo iusto dicta recusandae, temporibus vitae tenetur ab eius deserunt, expedita, cum cumque dolorem ea iure?</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, numquam. Quis eveniet aliquam itaque nisi necessitatibus sit dicta laboriosam. Vitae consequatur natus totam illo cum dicta, quas aliquam quia harum architecto odit expedita cumque dolorum eum, asperiores voluptas enim et voluptatibus ipsum in quae saepe earum blanditiis maxime. Modi voluptatem perferendis quasi praesentium ipsa! Minus, recusandae? Nemo voluptas deleniti corrupti?</p>
</div>

{% endblock %}