{% extends 'base.html' %} 
{% block title %}Bundles{% endblock %}
{% block content %}
<div class="color5">
    <h1 class="bigtitle">Bundles</h1>
</div>
<div  class="bundles p">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti quod mollitia animi, ab voluptatum recusandae a, sequi repellendus laudantium suscipit quaerat quasi fuga consectetur ex repellat excepturi! Perferendis, fuga eius autem impedit reiciendis commodi aspernatur velit, et dicta voluptatem sapiente nobis hic quod dignissimos! Dolorum ipsam sit animi ab dolor.</p>
</div>
<div  class="bundles p">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti quod mollitia animi, ab voluptatum recusandae a, sequi repellendus laudantium suscipit quaerat quasi fuga consectetur ex repellat excepturi! Perferendis, fuga eius autem impedit reiciendis commodi aspernatur velit, et dicta voluptatem sapiente nobis hic quod dignissimos! Dolorum ipsam sit animi ab dolor.</p>
</div>
<div  class="bundles p">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti quod mollitia animi, ab voluptatum recusandae a, sequi repellendus laudantium suscipit quaerat quasi fuga consectetur ex repellat excepturi! Perferendis, fuga eius autem impedit reiciendis commodi aspernatur velit, et dicta voluptatem sapiente nobis hic quod dignissimos! Dolorum ipsam sit animi ab dolor.</p>
</div>
<div  class="bundles p">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti quod mollitia animi, ab voluptatum recusandae a, sequi repellendus laudantium suscipit quaerat quasi fuga consectetur ex repellat excepturi! Perferendis, fuga eius autem impedit reiciendis commodi aspernatur velit, et dicta voluptatem sapiente nobis hic quod dignissimos! Dolorum ipsam sit animi ab dolor.</p>
</div>
{% endblock %}