{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div>
  <div class="carousel-sizing">
    <div class="carousel slide carousel-fade" id="myslider" data-ride="carousel" data-pause="false">
      <div class ="carousel-inner">
        <div class="carousel-item active">
          <div class="row align-items-center">

            <div class="col">
              <img class="d-block w-100"  src="static/images/vinyl1.jpg" alt="Michael Jackson - Thriller">
            </div>
            <div class="col">
              <h2>
                Thriller: 40th Anniversary Alternative Sleeve Limited Edition Vinyl LP
              </h2>
              <h3>
                MICHAEL JACKSON
              </h3>
              <h4>
                £47.99
              </h4>
            </div>  
          </div>
        </div>   
        <div class ="carousel-item">
          <div class="row align-items-center">
            <div class="col">
              <img class="d-block w-100"  src="static/images/vinyl2.jpg" alt="">
            </div>
            <div class="col">
              <h2>
                Big Science: Limited Edition Heavyweight Red Vinyl
              </h2>
              <h3>
                LAURIE ANDERSON
              </h3>
              <h4>
                £20.99
              </h4>
            </div>  
          </div>
        </div>
        <div class ="carousel-item">
          <div class="row align-items-center">
            <div class="col">
              <img class="d-block w-100"  src="static/images/vinyl3.jpg" alt="">
            </div>
            <div class="col">
              <h2>
                Death Of A Bachelor: Limited Edition Silver Vinyl
              </h2>
              <h3>
                PANIC! AT THE DISCO
              </h3>
              <h4>
                £20.99
              </h4>
            </div>  
          </div>
        </div>
        <div class ="carousel-item">
          <div class="row align-items-center">
            <div class="col">
              <img class="d-block w-100"  src="static/images/vinyl4.jpg" alt="">
            </div>
            <div class="col">
              <h2>
                Tawk Tomahawk: Limited Edition Transparent Yellow Vinyl
              </h2>
              <h3>
                HIATUS KAIYOTE
              </h3>
              <h4>
                £22.99
              </h4>
            </div>  
          </div>
        </div>
        <div class ="carousel-item">
          <div class="row align-items-center">
            <div class="col">
              <img class="d-block w-100"  src="static/images/vinyl5.jpg" alt="">
            </div>
            <div class="col">
              <h2>
                Mood Valiant: Black Vinyl LP
              </h2>
              <h3>
                HIATUS KAIYOTE
              </h3>
              <h4>
                £19.99
              </h4>
            </div>  
          </div>
        </div>
      </div>  
    </div>
  </div> 
</div>
<div class="pagebreak"></div>
<div class="flex">
  <div class="filterbar" id="filterbar">
    <!-- <input type="text" id="myInput" class="filterbutton" onkeyup="myFunction()" style="outline: none;" placeholder="Search..."> -->
    <button class="filterbutton" id="poptoggle">Pop</button>
    <button class="filterbutton" id="rocktoggle">Rock</button>
    <button class="filterbutton" id="soultoggle">R&B / Soul</button>
    <button class="filterbutton" id="indietoggle">Indie</button>
    <button class="filterbutton" id="alternativetoggle">Alternative</button>
    <button class="filterbutton" id="soundtracktoggle">Soundtrack</button>
    <button class="filterbutton" id="resetfilter">Reset Filters</button>
  </div>
  <div class="filterexpand" id="filterexpand">
    <i class="bi bi-list d-flex justify-content-center"></i>
  </div>
  <div class="filterbox">
    <div class="flex flexgrow cardbox">

        <div class="cardcontainer jsfilter pop" id="pop1">
          <img class="img-thumbnail" src="static/images/vinyl1.jpg"  alt="">
          <div class="cardtext overlay">
            <p>
              Thriller: 40th Anniversary Alternative Sleeve Limited Edition Vinyl LP<br>
              MICHAEL JACKSON<br>
              £47.99
            </p>
          </div>
        </div>

        <div class="cardcontainer jsfilter alternative" id="alternative1">
          <img class="img-thumbnail" src="static/images/vinyl2.jpg"  alt="">
          <div class="cardtext overlay">
            <p>
              Big Science: Limited Edition Heavyweight Red Vinyl<br>
              LAURIE ANDERSON<br>
              £20.99
            </p>
          </div>
        </div>

        <div class="cardcontainer jsfilter alternative" id="alternative2">
          <img class="img-thumbnail" src="static/images/vinyl3.jpg"  alt="">
          <div class="cardtext overlay">
            <p>
              Death Of A Bachelor: Limited Edition Silver Vinyl<br>
              PANIC! AT THE DISCO<br>
              £20.99
            </p>
          </div>
        </div>
        
        <div class="cardcontainer jsfilter soul" id="soul1">
          <img class="img-thumbnail" src="static/images/vinyl4.jpg"  alt="">
          <div class="cardtext overlay">
            <p>
              Tawk Tomahawk: Limited Edition Transparent Yellow Vinyl<br>
              HIATUS KAIYOTE<br>
              £22.99
            </p>
          </div>
        </div>
        <div class="cardcontainer jsfilter soul" id="soul2">
          <img class="img-thumbnail" src="static/images/vinyl5.jpg"  alt="">
          <div class="cardtext overlay">
            <p>
              Mood Valiant: Black Vinyl LP<br>
              HIATUS KAIYOTE<br>
              £19.99
            </p>
          </div>
        </div>
        <div class="cardcontainer jsfilter soul" id="soul3">
          <img class="img-thumbnail" src="static/images/vinyl6.jpg"  alt="">
          <div class="cardtext overlay">
            <p>
              What Kinda Music: Heavyweight Double Vinyl<br>
              TOM MISCH, YUSSEF DAYES<br>
              £22.99
            </p>
          </div>
        </div>
        <div class="cardcontainer jsfilter rock" id="rock1">
          <img class="img-thumbnail" src="static/images/vinyl7.jpg"  alt="">
          <div class="cardtext overlay">
            <p>
              Eliminator: Limited Edition Red Vinyl<br>
              ZZ TOP<br>
              £29.99
            </p>
          </div>
        </div>
        <div class="cardcontainer jsfilter rock" id="rock2">
          <img class="img-thumbnail" src="static/images/vinyl8.jpg"  alt="">
          <div class="cardtext overlay">
            <p>
              The Very Best Of The Stone Roses: Limited Edition Vinyl<br>
              THE STONE ROSES<br>
              £31.99
            </p>
          </div>
        </div>
        <div class="cardcontainer jsfilter soundtrack" id="soundtrack1">
          <img class="img-thumbnail" src="static/images/vinyl9.jpg"  alt="">
          <div class="cardtext overlay">
            <p>
              Blade Runner: Limited 180g Gatefold Vinyl<br>
              VANGELIS<br>
              £23.99
            </p>
          </div>
        </div>
        <div class="cardcontainer jsfilter indie" id="indie1">
          <img class="img-thumbnail" src="static/images/vinyl10.jpg"  alt="">
          <div class="cardtext overlay">
            <p>
              Here Comes The Cowboy - Exclusive Coloured Vinyl<br>
              MAC DEMARCO<br>
              £23.00
            </p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<script src="{{url_for('static', filename = 'home.js')}}"></script>
  {% endblock %}
  <!-- data-pause="false" -->


  <!-- create a toggle where each div for each vinyl has its own genre tags that disable and enable on the left bars selection -->


  <!-- <div>
    <img src="static/images/vinyl2.jpg" alt="">
    <div><p>afaegagegaegeagegaegeage</p></div>
  </div> -->